$badge-padding-x: .4em !default;
$input-padding-x: .75rem !default;

[badgeeditable] {
    padding-left: $input-padding-x - $badge-padding-x;
    height: auto;

    .badge {
        margin-right: $badge-padding-x;

        &.badge-empty:not(.badge-active) {
            margin-right: (-2 * $badge-padding-x);
        }
    }
}
